/* CALCULADORA BÁSICA */
#calculadoraBasica{
    display: flex;
    max-width: 300px;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
    margin-left: 38%;
}

.background-calculadora{
    position: relative;
    max-width: 300px;
    width: 100%;
    border-radius: 12px;
    padding: 10px 20px 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
    background-color: var(--main-color);
}

input.display{
    height: 45px;
    width: 100%;
    outline: none;
    text-align: right;
    margin-bottom: 10px;
    font-size: 25px;
    color: #000e1a;
    pointer-events: none;
}

.buttons{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
}

.buttons button{
    padding: 10px;
    border-radius: 6px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    background-color: #eee;
}

.buttons button:active{
    transform: scale(0.99);
}