*{
    margin: 0;
    padding: 0;
}

body{
    font-family: var(--font-roboto);
    background-color: #EEEEEE;
}

h1{
    text-align: center;
    color: var(--light-color);
}

.title{
    padding: 22px;
    background-color: var(--main-color); 
}

.cabecalho{
    text-align: center;    
    background-color: var(--light-blue);
}

.general-button{
    padding: 8px;
    margin: 10px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    color: var(--light-color);
    background-color: var(--light-blue);
    border: none;
    border-radius: 5rem;
}

.general-button:hover{
    background-color: var(--main-color);
    transform: scale(0.99);
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 11px;
    text-align: center;
    color: var(--light-color);
    background-color: var(--main-color);
}

/* MENU PRINCIPAL */
h2{
    font-size: 20px;
    text-align: center;
    color: var(--main-color);
}

h3{
    font-size: 15px;
    color: var(--main-color);
}

hr{
    margin-top: 15px;
}

.project{
    display: inline-block;
    width: 45rem;
    padding: 13px;
    margin-left: 80px;
    margin-top: 35px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: var(--box-color);
}

.project_description{
    margin-top: 15px;
}

.project_description p{
    margin-top: 5px;
}

.subtitle{
    font-weight: bold;
}

.project_members{
    position: absolute;
    display: inline-block;
    width: 20rem;
    padding: 13px;
    margin-left: 45px;
    margin-top: 35px;
    margin-bottom: 100px;
    border-radius: 10px;
    background: var(--box-color);
}

.linkedin-icon, .github-icon{
    width: 20px;
}